* {
    font-family: sans-serif;
}
html,body{height:100%;}
body{margin:0; padding:0 20px; color:#eee; background:#222; font-family:Verdana,Geneva,sans-serif; font-size:13px; line-height:20px; overflow:auto;}
a:link,a:visited,a:hover{color:inherit;}
h1{font-family:Georgia,serif; font-size:18px; font-style:italic; margin:40px 40px 40px 0; color:#26beff;}
p{margin:0 0 10px 0;}
hr{height:0; border:none; border-bottom:1px solid rgba(255,255,255,0.13); border-top:1px solid rgba(0,0,0,1); margin:9px 10px 9px 0; clear:both;}
.links{margin:10px 10px 10px 0;}
.links a{display:inline-block; padding:3px 15px; margin:7px 10px; background:#444; text-decoration:none; -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px;}
.links a:hover{background:#eb3755; color:#fff;}
.content{margin:40px 40px 40px 0; width:30%; height:250px; padding:20px; overflow:auto; background:#333; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.content p:nth-child(even){color:#999; font-family:Georgia,serif; font-size:17px; font-style:italic;}
.content p:nth-child(3n+0){color:#c96;}
.samples{margin:40px 40px 40px 0; width:150px; height:80%; padding:5px; overflow:auto; background:#333; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
/*body custom scrollbar style*/
body>.mCustomScrollBox>.mCSB_scrollTools{top:2%; height:96%;}